header {
  position: sticky;
  background: linear-gradient(90deg, #14532d, #1a472a);
  line-height: 1.7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  /* background-color: #14532d; */
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo-icon {
  color: #D4AF37;
}

.logo-text {
  font-size: 35px;
  letter-spacing: 1px;
  color: #ffd700;
}

.logo-text span {
  color: #ffffff;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

nav ul li  {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  padding: 6px 12px;
  transition: all 0.3s ease;
  border-radius: 6px;
}

nav ul li a{
  text-decoration: none;
  color: #ffffff;
}
nav ul ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffd700;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav ul :hover::after,
nav ul :focus::after {
  transform: scaleX(1);
}



.nav {
  display: flex;
  gap: 15px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px ;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: rgb(238, 241, 243);
  transition: all 0.3s ease;
}

.btn-first {
  background-color: #b2b435;
}

.btn-second {
  background-color: #4c4d47;
}
.btn-second1 {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-right: 30px;
  cursor: pointer;
}

.btn-first:hover {
  transform: scale(1.05);
}

.btn-second:hover {
  transform: scale(1.05);
}