.color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  /* border-bottom: 1px solid black; */
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../../../public/backgroundimg.webp") no-repeat center/cover;
  height: 650px;
  color: #644a4a;
  position: relative;
}

.quotes {
  color:#ffffff;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px;
  color: #ffd700;
    /* animation: fadeInDown 1s ease-in-out; */
}

.first {
  font-size: 25px;
  color: #ffffff;
  padding-top: 40px;
  line-height: 1.7;
  max-width: 800px;
}

.explore {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.company-logo {

  position: absolute;
  bottom: 55%;
  right: 80%;
}

.company-logo img {
  width: 250px;
  height: auto;
}
