footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 30px 60px;
  /* background-color: rgb(122, 24, 24); */
  background-color: #14532d; 
  color: #fff;
  margin-top: 50px;
}

.foot-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.head, .head_fst, .h_sec {
  text-decoration: underline;
  margin-bottom: 10px;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.icon {
  display: flex;
  gap: 15px;
  margin-top: 10px;

}

.icon img {
  width: 40px;
  height: auto;
  /* border-radius: 20%;
  background: #fff; */
  transition: transform 0.3s, background 0.3s;
}

.icon img:hover {
  transform: scale(1.1);

}

#menu ul {
  list-style: none;
  line-height: 1.6;
  padding: 0;
  position: relative;
  bottom: 10px;
  left: 30%;
}

#menu ul li {
  margin: 6px 0;
}

.contact {
  font-size: 16px;
  line-height: 1.8;
  position: relative;
  left: 30%;
}

.all_ic {
  display: grid;
  grid-template-columns: 2fr;
  gap: 12px;
  margin-top: -150px;
  position: relative;
  left: 20%;
}
.one{
  position: relative;
  top: 24px;
}
.all_ic i {
  font-size: 18px;
}
.copyright{ 
    position: relative;
    top: 16%;
    right: 90%;
    padding-top:10px; 
    font-size:16px; 
}
