
.con_head{ 
    text-align: center;
    font-size:32px; 
    color:#7a1818; 
    margin-top:50px; 
}

.con_p{ 
    text-align: center;
    color:#555;
    margin:30px 0 20px 0; 
}


.contact-info{ 

    display:grid; 
    grid-template-columns:repeat(3,1fr); 
    gap:20px; 
    text-align:center; 
    margin-top: 90px;
   
}
.info-box i{ 
    font-size:36px; 
    color:#b2b435; 
    margin-bottom:18px; 
}
.info-box h3{ 
    color:#7a1818; 
    margin:6px ; 
}


.form-section {
  padding: 60px 20px;
}

.form-section h2 {
  text-align: center;
  margin: 0 0 40px 50%;
  color: #7a1818;
}


.contact-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}


.map-box {
  flex: 1;
}

.map-box iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
}


.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.form-group textarea {
  width: 100%;          
  border-radius: 6px;
  min-height: 150px;   
  /* resize: vertical;     */
}
.btns {
  background: #b2b435;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.btns:hover {
  background: #a0a325;
}

.customer img {
  position: fixed;
  right: 20px;      /* screen right */
  bottom: 20px;     /* screen bottom */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
