.signin-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

.signin-card {
  background: #fff;
  width: 360px;
  padding: 30px 25px;
  border-radius: 12px;
  position: relative;
  text-align: center;
}

.signin-card h2 {
  margin-bottom: 20px;
}
.signin-card p {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 14px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}


label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.9);
  color: #000;
}
.signin-btn{
  width: 100%;
  padding: 12px;
  background: #b2b435;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: background 0.3s, transform 0.2s;
  margin-top: 10px;
}

.signin-btn:hover{

  background: #8c8d36;
  transform: translateY(-3px);

}
.another {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.another  img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 18px;
  transition: transform 0.3s, background 0.3s;
  cursor: pointer;
}

.another img:hover {
  transform: scale(1.1);
}
