.pro1{
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;


}
.pro2{
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    top: 20px;
    padding-bottom: 70px;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: 'Times New Roman', serif;
}


.products {
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap: 100px;
  padding: 10px 100px;
  justify-items: center; 
}

a{
  text-decoration: none;
}
.card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
  padding-bottom: 20px;
  position: relative;
  width: 320px; 
  
  animation: fadeInUp 0.8s ease forwards;
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}


.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card:hover img {
  transform: scale(1.1);
}


.card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #28a745;
  transition: color 0.3s ease;
}

.card:hover h3 {
  color: #14532d; 
}


.card p {
  font-size: 15.9px;
  color: #444;
  padding: 0 15px;
  line-height: 1.6;
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

.card:hover p {
  opacity: 1;
}




.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-rating span {
  padding-top: 15px;
  position: relative;
  left: 10px;
  font-weight: bold;
  color: #28a745;
  font-size: 16px;
}

.stars i {
  padding-top: 15px;
  color: #f5c518;
  margin-right: 2px;
   font-size: 16px;
}
